<%- include('partials/header.ejs', {pageParams: pageParams, user: user}) -%>
<section class="main-content intro">
    <h2>
        Who are we?
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur metus eget congue finibus. Curabitur non nibh ultrices, tristique ipsum varius, hendrerit lacus. Sed in pulvinar odio, eget porttitor nisi. Aliquam viverra pulvinar nulla, quis interdum massa luctus viverra. Sed eget quam nisl. Donec pellentesque augue id dui egestas tempor. Suspendisse nec magna porta, feugiat ligula non, tempor ipsum. Suspendisse quis dui mauris. Nullam eu erat vel libero posuere sagittis. Mauris faucibus, est eget luctus aliquet, nisi mi imperdiet nulla, hendrerit tincidunt augue sem id eros.

        Praesent vehicula arcu augue, sit amet vehicula nunc cursus eu. Donec nec nisi ut erat bibendum hendrerit nec at metus. Duis lorem nisl, semper eu felis nec, dictum faucibus augue. Praesent ex sapien, gravida ac turpis sed, viverra luctus sapien. Donec risus massa, sagittis quis ultricies sed, maximus aliquam sapien. Cras at pellentesque dolor. Nullam eget nisl vitae nisl sollicitudin sagittis. Etiam feugiat tincidunt urna. Quisque nibh sem, fermentum non tempor sit amet, tempor ac est.

        Morbi vulputate justo a rhoncus cursus. In pharetra dui non mauris venenatis, quis consequat sapien rutrum. Suspendisse quis posuere urna. Fusce id maximus enim. Donec efficitur enim non tempus auctor. Aliquam at lacus quis dui semper consectetur sit amet sit amet ligula. Cras et nunc pellentesque, elementum lacus maximus, tristique diam. Suspendisse consequat urna mattis rutrum iaculis. Donec luctus fringilla consectetur. Duis vulputate diam urna, non dignissim enim porttitor vel. Duis lobortis massa tortor, eget efficitur enim egestas hendrerit. Maecenas luctus arcu ut orci molestie, id sodales ligula molestie. Praesent quam magna, ornare vitae ligula at, hendrerit pellentesque ante. Mauris ultrices est in egestas rutrum. Fusce pretium ante lectus, eget commodo risus mattis non.
    </p>
</section>
<%- include('partials/footer.ejs') -%>