<%- include('partials/header.ejs', {pageParams: pageParams, user: user}) -%>
<section class="main-content intro">
    <h2>
        Contact Us:
    </h2>
    <p class="center">
        Below is the contact details of the lead developer of this site. Please feel free to contact him.
    </p>
    <div class="center">
        <h3>Preetham Shankare Gowda</h3>
        <h3>Phone: +1 (404) XXX XXXX</h3>
        <h3>Email: me@preetham.net</h3>
        <h3>
            <a href="https://www.linkedin.com/in/preethamsgowda">LinkedIn</a> | 
            <a href="https://www.instagram.com/mepreethamgowda">Instagram</a>
        </h3>
    </div>
</section>
<%- include('partials/footer.ejs') -%>