<%- include('partials/header.ejs', {pageParams: pageParams, user: user}) -%>
<section class="main-content intro">
    <h1 class="center margin-top-40">404, Page Not Found!</h1>
    <h2 class="center margin-top-40">
        Seems like you have wandered off! Please <a href="/">click here</a> to return to home page.
    </h2>
</section>
<%- include('partials/footer.ejs') -%>